

.contenedor-login{
    position: relative;
    float: right;
}
a{
    color: black;
}
    .footer{
         text-align: center;
         display: flex;
         align-content: center;
         flex-direction: column;
         width: 100%;
         color: #EED595;
         background-color: #253016;
         position: absolute;
         bottom: 0;
        * { 
            box-sizing: border-box;
        }
    }
  .recuerdame{
    margin-top: 7px;
   }
    body{
        background-image: url(../images/fondo-desenfocado.jpg);
        background-repeat: no-repeat;
        background: cover;
        background-size: cover;
        min-height: 100%;
        font-family: Helvetica, sans-serif;;
        font-size: 14px;
        color: #253016;
        background-repeat: no-repeat;
        display: block;
        margin: 0;
    }
    section{
        margin-left: auto;
        margin-right: auto;
        display: flex;;
        width: 100%;
        justify-content: center;
        padding-top: 200px;
    
    }
    form{
        display: flex;
        flex-direction: column;   
    }
    input[type=text]{
        margin-top: 1%;
        margin-bottom: 2%;
        padding: 3px;
        outline-color: #253016;
        border-style: groove;
        border-width: 2px;
        border-color: #253016
    }
    input[type=password]{
        margin-top: 1%;
        margin-bottom: 2%;
        padding: 3px;
        outline-color: #253016;
        border-style: groove;
        border-width: 2px;
        border-color: #253016
    }
    .button-access{
        height: 27px;
        width: 33%;
        justify-content: center;
        background-color: #253016;
        outline: none;
        color: #EED595;
        border-radius: 9px; 
        border: none;
    }
    #divLogin{
        width: 95%;
        padding: 5%;
        border: none;
        background-color: #EED595;
        border-radius: 9px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 280px;
    }
    #divBotones{
        margin-top: 2%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        justify-content: space-between;
    }
    #divCheckbox{
        display: flex;
        justify-content: center;
        flex-direction: row; 
    }
    #buttonHeOlvidado{
        height: 27px;
        width: 64%;
        justify-content: center;
        background-color:#EED595;
        outline: none;
        color: #253016;
        border-radius: 9px; 
        border: 2px solid #253016;
    } 
    @media(max-width:420px){
        body{
            font-size: 15px;
        } 
        
        #divLogin{
            margin-bottom: 100px;
            width: 700xp;
        }
        .footer{
            font-size: 10px;
        }
        .button-access{
            height: 40px;
        }
        #buttonHeOlvidado{
            height: 40px;
        }
        input[type=password]{
            height: 35px;
        }
        input[type=text]{
            height: 35px;
        }
    }
/* header */

.header {
  background-color: #EED595;
  box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
  position: fixed;
  width: 100%;
  z-index: 3; 
}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: #EED595;
}

.header li a {
  display: block;
  padding: 20px 20px;
  border-right: 1px solid #EED595;
  text-decoration: none;
      
}
header li #color-login-btn:hover{
     background-color: #253016;
        color: #EED595;
}
.header li a:hover{
     background-color: #253016;
        color: #EED595;
}
.header .menu-btn:hover {
 background-color: #253016;
        color: #EED595;
}

.header .logo {
  display: block;
  float: left;
  font-size: 2em;
  padding: 10px 20px;
  text-decoration: none;
}
.btn-login{
  float:right;
  padding: 29px 7px;
  position: relative;
  margin-top;
    height: 70px;
    width: 60px;
}
/* menu */

.header .menu {
 
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out;
  text-align: center;
}

/* menu icon */

.header .menu-icon {
  margin-top: 20px;
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 28px 9px;
  user-select: none;
  position: relative; 
    
}

.header .menu-icon .navicon {
  background: #333;
  display: block;
  height: 2px;
  position: relative; 
  transition: background .2s ease-out;
  width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: #333;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 5px;
}

.header .menu-icon .navicon:after {
  top: -5px;
}

/* menu btn */

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: 240px;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}


/* 48em = 768px */

@media (min-width: 48em) {
  .header li {
    float: left;  
  }
  .header li a {
    padding: 35px 50px;
  }
  .header .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .header .menu-icon {
    display: none;
  }
  .btn-login{
    display: none;  
  }
    #color-login-btn{
        background-color: #EED595;
        color: #253016
    }
    .body{
        font-size: 16px;
    }
    #divLogin {
    width:500px;
    padding: 5%;
    height: 300px;
   }
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
  }
  @keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
  }
  /* On smaller screens, decrease text size */
  @media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
  }

