
.contenedor{
    background:rgba(238, 213, 149, 77%);
  }
  .todo-el-contenido{
    background:rgba(238, 213, 149, 77%)
  }
  
  .btn{
    background-color: #253016;
    border: none;
    color: white;
    width: 176px;
  }

  #color{
  border-color:black;
  }
  .img{
  height: 35px;
  width: 45px;
  }
  .ralla-superior{
    background: url("../images/fondo-desenfocado.jpg") no-repeat center top;
    color: #fff;
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
  }
  #red{
    background: red;
  }
  .edit{
   
    display: flex;
    justify-content: space-between;
    
  }
  body {
      height: 100vh;
  }
  
  section {
      height: 100%;
  }
  

 .formulario{
     padding: 5%;
     margin-top: 50px;
     background-color:rgba(238, 213, 149) ;
     height: 70%;
     margin-left: 18%;
     margin-right: 18%;
     border-radius: 2rem;
     color: #253016;
     font-size: 15px;
 }
  
  #myInput {
    background-image: url('/css/searchicon.png');
    background-position: 10px 12px;
    background-repeat: no-repeat;
    font-size: 16px;
    padding: 12px 20px 12px 40px;
    border: 1px solid #ddd;
    margin-bottom: 12px;
    border-radius: 5px;
    width: 43%;
    font-weight: bold;
    margin-left: 56%;
  }
  