
.contenedor{
    background:rgba(238, 213, 149, 77%);
  }

  body {
      height: 100vh;
  }
  
  section {
      height: 100%;
  }

  /* Enterprises */

  .top__enterprises{
    display: flex;
    justify-content: space-between;
    padding-bottom: 1rem;
    border-bottom: 1px solid black;
  }
  .btn__create{
      background-color: #4B7902;
      border-radius: 5px;
      color: white;
      border: none;
  }
  .card__enterprise {
      margin-top: 3rem;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      border-bottom: 1px solid black;
      padding-bottom: .5rem;
  }
  .enterprise__text{
      display: flex;
      flex-direction: row;
      align-items: space-around;
  }

  .enterprise__name, 
  .enterprise__city{
    display: flex;
    flex-direction: column;
  }

  .enterprise__name{
      margin-right: 10rem
  }
  .btn__parcels,
  .btn__edit,
  .btn__delete{
      border-radius: 5px;
      border: none;
      color: white;
      padding: .5rem;
  }
  .btn__parcels,
  .btn__edit{
      background-color: #4B7902;
  }
  .btn__edit{
      margin-left: 1rem;
  }
  .btn__delete{
      background-color: #E52320;
      margin-left: 1rem;
  }

  .label__name,
  .label__city{
      font-weight: bold;
  }

  @media(max-width:420px){
      *{
          font-size: .8rem;
      }
      .label__address{
          display: none;
      }
      .card__enterprise{
          display: flex;
          flex-direction: column;
      }
      .enterprise__name{
          display: flex;
          flex-direction: row;
      }
      .label__name{
          margin-right: 5rem;
      }
      .enterprise__buttons{
          display: flex;
          justify-content: space-evenly;
      }
  }