/* header */

.header {
  background-color: #EED595;
  box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
  position: fixed;
  width: 100%;
  z-index: 3; 
 height: 90px;
}

.header ul {
  margin-top: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: #EED595;
    width: auto;
    height: auto;
}

.header li a {
  display: block;
  padding: 20px 20px;
  text-decoration: none;
      
}

.header li a:hover,
.header .menu-btn:hover {
  background-color: #EED595;
}

.header .logo {
  display: block;
  float: left;
  font-size: 2em;
  padding: 10px 20px;
  text-decoration: none;
  width: 150px;
  height: 80px;
}
.btn-login{
  float:right;
  padding: 29px 7px;
  position: relative;
  margin-top;
    height: 70px;
    width: 60px;
}
/* menu */

.header .menu {
 
  clear: none;
  max-height: 0;
  transition: max-height .2s ease-out;
  text-align: center;
  height: auto;
}

/* menu icon */

.header .menu-icon {
  margin-top: auto;
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 28px 9px;
  position: relative;
  user-select: none;
  position: relative; right:100px; top:-80px;
    
}

.header .menu-icon .navicon {
  background: #333;
  display: block;
  height: 2px;
  position: relative; 
  transition: background .2s ease-out;
  width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: #333;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 5px;
}

.header .menu-icon .navicon:after {
  top: -5px;
}

/* menu btn */

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: 240px;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}