*{
    font-family: Helvetica, sans-serif;
    box-sizing: border-box;
}

h1 {
    font-size: 1.5em;
    text-align: center;
    color: black;
    margin: 0.5rem 0;
    /* font-family: 'Source Sans Pro', sans-serif; */
    font-weight: bold;
    background-color: darkgreen;
    color: white;
    border-radius: 0.5rem;
    padding: 0.5em;
    max-width: 80%;
}

h2 {
    font-size: 1.4em;
    text-align: center;
    /* font-family: 'Source Sans Pro', sans-serif; */
    color: black;
    margin: 0.7rem 0;
}

article {
    margin: 10px 0px;
    background-color: #FFFFFF;
}

p {
    margin: 0.5em;
}

a {
    margin: 0.75rem;
}

article:hover {
    box-shadow: 8px 8px 1px #888888;
}

@keyframes card-hover {
  100% {
    box-shadow: 10px 10px 10px #b7b7b7;
    /* transform: translate(0,-7px); */
  }
}

hr {
    border-top: 1px solid rgba(0, 0, 0, 0.25);
}

.card-head {
    border-top-left-radius: 0.75rem;
    border-top-right-radius: 0.75rem;
    background-image: url('../images/list-parcels/imagenParcelaDummy.jpg');
    background-position: center;
    background-size: 350px 160px;
    height: 10em;
    width: 100%;
    cursor: pointer;
    border-bottom: 1px solid black;
}
.card-body {
    padding: 0px;
}


.row {
    margin: 0px;
    display: flex;
    justify-content: space-between;
}

.btn {
    padding: 0.5em;
    margin: 0.3em 0px;
}

.imgButtons {
    height: 3rem;
    width: 3rem;
}

.card-body .row {
    justify-content: space-evenly;
    flex-wrap: wrap;
}

footer {
    bottom: 0;
}

header {
    position: sticky;
    top: 0;
    z-index: 15;
}

.container-fluid {
    padding: 0px;
}

/* The alert message box */
.alert {
  padding: 20px;
  background-color: #f44336; /* Red */
  color: white;
  margin: 1em 1.75em;
}

/* The close button */
#closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
}

/* When moving the mouse over the close button */
.closebtn:hover {
  color: black;
}



/* ERROR */


.error {
    width: 80%;
    background-color: lightgoldenrodyellow;
    border: 1px solid gray;
    border-radius: 0.75rem;
    width: 85%;
    margin: 0 auto;
    margin-top: 3em;
    display: flex;
    flex-direction: column;
    padding-bottom: 0.2rem;
}

.mensajeError {
    font-size: 0.9rem;
}

.divTitulo {
    font-family: 'Source Sans Pro', sans-serif;
    background-color: darkgreen;
    color: white;
    border-radius: 0.75rem;
    margin: 0px auto;
    margin-top: -1.25rem;
    padding: 0 0.5em;
    display: flex;
}

h3 {
    font-size: 1.5rem;
    margin: 0px;
    padding: 0.2em;
}

.errorContact {
    font-size: 0.9rem;
    text-align: center;
}
/* ERROR */



.topnav {
    overflow: hidden;
    background-color:#EED595 ;
    position: relative;
}
.topnav #myLinks {
    display: none;
}
.menu-navbar{
    text-align: center;
}
.menu-items{
    border-top: 1px black solid;
}
.topnav a {
    color: black;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
}
.icon{
    margin-top:10px;
}
.topnav a.icon {
    background: #EED595;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
}
.topnav a:hover {
    background-color: #EED595;
    color:grey;
}
#imglogo{
    width: 150;
    height: 50px;
}

#imgSensor{
    width: 200;
    height: 200px;
}
.active-nav {
    background-color: #EED595;
    color:grey;
}

.footer{
    text-align: center;
    display: flex;
    align-content: center;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
    color: white;
    background-color: #253016;
}
@media (min-width: 600px){
    .footer{
        position: fixed;
    }
}
section {
    margin-top: 1rem;
}
.card-head h2 {
    margin: 0px;
    padding: 0.5rem;
}

/**
* Mio
*/
.container__cards{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
   
}
fieldset{
    border-radius: 10px;
    background-color: #FDE8B4;
    border: 1px solid black;
    margin-bottom: 50px;
    min-inline-size: auto;
}

.list_container__title{
    border-radius: 10px;
    height: 70px;
    width: 170px;
    background-color: #253016;
    margin-left: 50px;
}
.list_container__title > h2{
    color: #FFFFFF;
    margin-top: 20px;
}

.list__card{
    border-radius: 10px;
    border: 1px solid black;
    box-shadow: 3px 3px 5px #888888;
    width: 350px;
}
.button_link{
    border-radius: 10px;
    border: 1px solid black;
    background-color: #54BCE9;
    box-shadow: 3px 3px 5px #888888;
}
.button_link:hover{
    box-shadow: 6px 6px 1px #888888;
}
.button_link-red{
    border-radius: 10px;
    border: 1px solid black;
    background-color: red;
    box-shadow: 3px 3px 5px #888888;
}
.button_link-red:hover{
    box-shadow: 6px 6px 1px #888888;
}
.card__description{
    margin-top: 20px;
}
.container__empty{
    min-height: 650px;
}
.container__empty > p{
    margin-left: 50px;
    margin-top: 50px;
}
.container__empty > div{
    display: flex;
    flex-direction: row;
    margin-top: 100px;
    justify-content: center;
}
.container__empty > div > img{
    width: 100px;
    height: 50px;
}
.container__empty > div > strong{
    margin-left: 100px;
    margin-top: 20px;
}

@media (max-width: 600px){
    .list_container__title{
        text-align: center;
    }
}
