
.contenedor{
  background:rgba(238, 213, 149, 77%);
}
.todo-el-contenido{
  background:rgba(238, 213, 149, 77%)
}

.btn{
  background-color: #4B7902;
  border: none;
  color: white;
  width: 176px;
}
.table td {
  border-color: black !important;
}

.col{
 border-color:black;
 margin-top: 0 !important;
}
#color{
border-color:black;
}
.img{
height: 35px;
width: 45px;
}
.ralla-superior{
border-color: black !important;
}
#red{
  background: red;
}
.edit{
 
  display: flex;
  justify-content: space-between;
  
}
body {
    height: 100vh;
}

section {
    height: 100%;
}

.box:nth-child(2n+1){
  background:rgba(238, 213, 149, 100%)
}

#myInput {
  background-image: url('/css/searchicon.png');
  background-position: 10px 12px;
  background-repeat: no-repeat;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
  border-radius: 5px;
  width: 43%;
  font-weight: bold;
  margin-left: 56%;
}
