
article {
    border: 1px solid gray;
    border-top-left-radius: 0.75rem;
    border-top-right-radius: 0.8rem;
    background-color: #EED595;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
}
h12 {
    font-size: 1.5rem;
    text-align: center;
    color: black;
    margin: 0.5rem 0;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
    background-color: darkgreen;
    color: white;
    border-radius: 0.5rem;
    padding: 0.5em;
    max-width: 60%;
}

h1 {
    font-size: 1.75rem;
    text-align: center;
    color: black;
    margin-top: 1.5rem;
    font-family: 'Source Sans Pro', sans-serif;
    background-color: #253016;
    color: #EED595;
    border-radius: 0.5rem;
    padding: 0.25em;
    max-width: 80%;
}

h3 {
    font-size: 1.25rem;
    font-weight: bold;
    font-family: 'Source Sans Pro', sans-serif;
    color: black;
    margin: 1em;
    text-align: center;
}
p {
    margin: 0px;
    padding: 0.5rem;
}
form {
    width: fit-content;
}

.containerSelector {
    padding: 0px;
    width: 100%;
    min-width: 300px;
}



.descripcionParcela {
    margin-bottom: 0.5em;
    padding: 0px;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 91%;
    max-width: 950px;
    margin: 0 auto;
}
.card {
    border: 1px solid gray;
    border-radius: 2px;
    background-color: #EED595;
    margin: 1em;
    width: 100%;
    border-radius: 0.75rem;
}
.selectDiv {
    display: flex;
}

.icon{
    margin-top:10px;
}
.footer{
    text-align: center;
    display: flex;
    align-content: center;
    flex-direction: column;
    width: 100%;
    color: #EED595;
    background-color: #253016;
}
* {
    box-sizing: border-box;
}
#imglogo{
    width: 150;
    height: 50px;
}

#imgSensor{
    width: 200;
    height: 200px;
}
#selectDispositivo{
    border-top-right-radius: 0.75rem;    
    height: 100%; 
    outline: none;
    border: none;
    background-color: #253016;
    color: #EED595;
}
#map {
    width: 100%;
    min-width: 300px;
    height: 50vh;
    margin-bottom: 1em;
    border-bottom-left-radius:0.75rem; 
    border-bottom-right-radius:0.75rem; 
    border: 1px solid gray;
    border-top: none;
}

/* header */

.header {
  background-color: #EED595;
  box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
  /*position: fixed;*/
  width: 100%;
  z-index: 3;
}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: #EED595;
}

.header li a {
  display: block;
  padding: 20px 20px;
  border-right: 1px solid #EED595;
  text-decoration: none;
  color: #253016
}

.header li a:hover,
.header .menu-btn:hover {
  background-color: #EED595;
}

.header .logo {
  display: block;
  float: left;
  font-size: 2em;
  padding: 10px 20px;
  text-decoration: none;
}
.btn-login{
  padding: 28px 9px;
}

/* menu */

.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out;
  text-align: center;
}

/* menu icon */

.header .menu-icon {
  margin-top: 20px;
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 28px 9px;
  position: relative;
  user-select: none;

}

.header .menu-icon .navicon {
  background: #333;
  display: block;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: #333;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 5px;
}

.header .menu-icon .navicon:after {
  top: -5px;
}
/* menu btn */

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: 240px;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}
