body{
    margin: 0;
    font-family: Helvetica, sans-serif;
}
.parcels__header {
    background-color: #EED595;
    width: 100%;
    height: 100px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.parcels__header a img{
    height: 150px;
    width: 150px;
}
.parcels__nav {
    width: 50%;
    height: 100%;
    padding: 0;
}
.nav__list{
    width: 100%;
    display: flex;
    list-style: none;
    justify-content: space-around;
}
.nav__element-selected{
    height: 100px;
    width: 150px;
    background-color: #253016;
    color: #000000;
    text-align: center;
    font-size: 2rem;
}
.nav__element{
    font-size: 2rem;
}