
/* 
colores:
beige --> #EED595
verde --> #253016
*/
:root{
    --principal: #EED595;
    --secundario: #253016;
    --fondo: #FFF2D2;
}

body{
    background-color: var(--fondo);
    height: 100vh;
}
#header{
    background-color: var(--principal);
    margin-left: 0;
    margin-right: 0;
    max-width: none;
}
#id01, #boton-plegar-mapa, #instrucciones-seleccionar, #boton-desplegar-mapa{
    display: none;
}

#botones-header{
    color: var(--secundario);
    font-size: 14px;
    text-decoration: none;
    height: 73px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#iconos-header-movil{
    display: none;    
    }
#botones-header:hover{
    color: var(--principal);
    background-color: var(--secundario);
    text-decoration: none;
    display: inline-block;
    height: 73px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#div-titulo-tarjeta-parcela{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: none;
}
#titulo-tarjeta-parcela{
    font-size: 20px;
    border-radius: 8px;
    padding: 5px;
    color: var(--principal);
    display: flex;
    justify-content: center;
    background-color: var(--secundario);
    border: 1px solid var(--secundario);
    margin: 30px 0px 30px;
}

#titulo-tarjeta{
    display: none;
    font-size: 14px;
    color: var(--principal); 
    background-color: var(--secundario);
    border: none;
    border-radius: 8px;
    justify-content: center;
    height: inherit;
    width: 20rem;
}
#tarjeta-parcela{
    font-size: 13px;
    background-color: var(--principal);
    border-radius: 10px;
    border: 1px solid var(--principal);
    padding: 0px;
}
#tarjeta-parcela div{
    padding:0;
}
#tarjeta-parcela div div{
    padding:0;
}
#map-escritorio {
    display: flex;
    width: 100%;
    min-width: 300px;
    height: 60vh;
    border: none;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
#instrucciones-escritorio{
    text-align: center;
    font-size: 15px;
    margin-top: 10px;
}
#tarjeta-graficas{
    padding:0 14.5px;
}
#selector-fecha{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: .7rem;
}
#datepicker3, #datepicker4{
    background-color: var(--principal);
    border: 1px solid var(--secundario);
    color: var(--secundario);
    border-radius: 2px;
    width: 150px;
    text-align: center;
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: var(--secundario);
    opacity: 1; /* Firefox */
    font-size: 11px;
}

canvas{
    max-height: 250px;
    background-color: white;
}
#espaciado{
    height:0.5rem;
}
#div-titulo-tarjeta-grafica-escritorio{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: none;
}
#titulo-tarjeta-grafica-escritorio{
    font-size: 20px;
    border-radius: 8px;
    padding: 5px;
    color: var(--principal);
    display: flex;
    justify-content: center;
    background-color: var(--secundario);
    border: 1px solid var(--secundario);
    margin: 70px 0px 30px;
}

#titulo-tarjeta-grafica{
    margin: inherit;
    margin-top: 10px;
    font-size: 13px;
    color: #EED595; 
    background-color: #253016;
    border: 2px solid #253016;
    border-top-left-radius: 10px;
    border-top-right-radius: 8px;
    padding: 0 10px;
    display: flex;
    justify-content: center;
}
#pie-tarjeta-grafica{
    margin: inherit;
    font-size: 13px;
    color: var(--secundario); 
    background-color: var(--principal);
    border: 2px solid var(--secundario);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 0 10px;
    display: flex;
    justify-content: center;
}
.footer{
    background-color: var(--secundario);
    display:flex;
    justify-content: center;
    z-index: 3000;
}
#contenido-footer{
    color: var(--principal);
    height: 28px;
    display: flex;
    align-items: flex-end;
    text-align: center;
}




@media (max-width: 48em){
    #boton-plegar-mapa, #instrucciones-seleccionar, #boton-desplegar-mapa{
        display: flex;
    }
    #botones-header, #instrucciones-escritorio, #tarjeta-graficas, #titulo-tarjeta-grafica, #titulo-tarjeta-grafica-escritorio, #div-titulo-tarjeta-grafica-escritorio{
        display: none;
    } 
    #div-links{
        display: flex;
        align-items: center; 
    }
    #iconos-header-movil{
        display: flex;
    }
    #iconos-header-movil img{
        height: 35px;
    }
    .col-2{
        max-height: 73px;
    }
    #tarjeta-parcela{
        border:none;
    }
    #titulo-tarjeta{
        display: none;
    }
    #div-titulo-tarjeta-parcela{
        width: 100%;
        display: flex;
        justify-content: center;
        margin-bottom: none;
    }
    #titulo-tarjeta-parcela{
        font-size: 14px;
        color: var(--principal);
        display: flex;
        width:100%;
        justify-content: center;
        background-color: var(--secundario);
        border: 1px solid var(--secundario);
        margin: 0px 0px 0px;
        border-radius: 0px;
    }
    #seleccionar-dispositivo{
        border-top-left-radius: 10px;
        color: var(--secundario); 
        background-color: var(--principal);
    }
    #div-titulo-tarjeta-grafica-movil{
        display: flex;
    }
    #div-map{
        position: relative
    }
    #map-escritorio{
        width: 100%;
        min-width: 300px;
        border: none;
        height: 68vh;
        position: relative;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
    }
   .col-12{
        padding-left: 0px;
        padding-right: 0px;
    }
    #instrucciones-seleccionar{
        font-size: 12px;
        border: 1px solid var(--secundario);
        border-right: none;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--principal);
    }
    #instrucciones-seleccionar p{
        display: flex;
        justify-content: center;
        text-align: center; 
        margin-left: 5px;
        margin-right: 5px;
        margin-bottom: 0px;
    }
    #boton-plegar-mapa{
        background-color: var(--principal);
        border:none;
        text-decoration:none;
        padding: 0px 0px;
        border: 1px solid var(--secundario);
        border-left: none; 
        border-radius: 0px;
        animation: flecha-animada 2s ease-in-out infinite;
    }
    #boton-plegar-mapa img{
        height: 73px;
        max-width: 49px;
        border-radius: 0px;
        animation: flecha-animada 2s ease-in-out infinite;
    }
    #boton-desplegar-mapa{
        background-color: var(--principal);
        border:none;
        text-decoration:none;
        padding: 0px 0px;
        border: 1px solid var(--secundario);
        border-left: none; 
        border-radius: 0px;
        animation: flecha-animada 2s ease-in-out infinite;
    }
    #boton-desplegar-mapa img{
        height: 73px;
        max-width: 49px;
        border-radius: 0px;
        animation: flecha-animada 2s ease-in-out infinite;
    }
    .row{
        margin-left: 0px;
        margin-right: 0px;
    }
    .container{
        padding-left: 0px;
        padding-right: 0px;
    }
    #id01{
        margin-left: 0px;
        margin-right: 0px;
        display:flex;
        background-color: var(--fondo);
    }
    #selector-fecha{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: .7rem;
    }
    #datepicker, #datepicker2{
        background-color: var(--principal);
        border: 1px solid var(--secundario);
        color: var(--secundario);
        border-radius: 2px;
        width: 72px;
        text-align: center;
    }
    ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: var(--secundario);
        opacity: 1; /* Firefox */
        font-size: 11px;
    }
    #ultima-medicion{
    margin-top: 40px;
    }
    .rectangulos-leyenda{
        display: block;
    }
    #leyenda1 ul li{
        display: flex;
        align-content: center;
        justify-content: center;
    }
    #rectangulo-luminosidad{
        height: 15px;
        width: 15px;
        border-radius: 50%;
        margin: 3px 0px;
        background-color: #FF9300;
    }
    #rectangulo-salinidad{
        height: 15px;
        width: 15px;
        border-radius: 50%;
        margin: 3px 0px;
        background-color: #8e5ea2;
    }
    #rectangulo-humedad{
        height: 15px;
        width: 15px;
        border-radius: 50%;
        margin: 3px 0px;
        background-color: #3e95cd;
    }
    #rectangulo-temperatura{
        height: 15px;
        width: 15px;
        border-radius: 50%;
        margin: 3px 0px;
        background-color: #253016;
    }
    #leyenda0 ul{
        list-style-type: none;
    }
    #leyenda0 ul li{
        display:flex;
        justify-content: center;
    }
    #img-leyenda0{
        height: 19px;
        margin: 1px;
    }
    #leyenda2 ul{
        list-style-type: none;
    }
    #leyenda3 ul{
        list-style-type: none;
        margin-bottom: 0px;
    }
    canvas{
        background-color: var(--fondo);
        border: 1px solid var(--secundario);
        border-top: none;
        border-bottom: none;
        margin-top: 30px;
    }
    #line-chart {
        background: var(--fondo);
    }
    footer{
        font-size: 10px;
        margin: 0px 0px 0px; 
    }
}