html {
    font-size: 16px;
}

#header{
    background-color: #EED595;
    margin-left: 0;
    margin-right: 0;
    max-width: none;
}

.botones-header{
    color: #253016;
    font-size: 14px;
    text-decoration: none;
    height: 73px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.iconos-header-movil{
    display: none;    
}

.botones-header:hover{
    color: #EED595;
    background-color: #253016;
    text-decoration: none;
    display: inline-block;
    height: 73px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 48em){
    #botones-header{
        display: none;
    } 
    #div-links{
        display: flex;
        align-items: center; 
    }
    #iconos-header-movil{
    display: flex;
    }
    #iconos-header-movil img{
    height: 35px;
    }
}

body {
    background:rgb(243, 226, 183);
}

h1 {
    font-size: 1.75rem;
    margin: 1rem;
}

.labelVerticalAlign {
    display: flex;
    align-items: center;
}

.localizacionSection {
    display: flex;
    justify-content: space-around;
}

label {
    margin: 0;
}

#botonBorrar {
    background: #dc3545;
    color: white;
    border: 0;
    border-radius: 5px 5px 0 0;
    width: 30%;
    margin: 0px 0px;
    padding: 0.5rem 0;
}

.divCuadro{
    width: 8.5rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#cuadroPerimetro {
    background: #ea4335;
    width: 1.75rem;
    height: 1.75rem;
}

#cuadroDispositivos {
    background: #6991fd;
    width: 1.75rem;
    height: 1.75rem;
}

.remarcaCuadro {
    border: 2px dashed;
}

#divBotonesMapa {
    margin: 0;
}

#divOpcionesMapa {
    margin: 0;
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
}

#map {
    height: 30vh;
}

#inputSubmitDiv{
    text-align: center;
    margin-top: 1rem;
}

.sideMarginContainer {
    margin: 0 2rem;
}

input[type=submit]{
    padding: 1rem;
    border: 1px solid #ced4da;
    border-radius: 5px;
}

.esconde {
    display: none;
}

.botonMap {
    background-color: white;
    border-radius: 5px;
    margin: 0 0.5rem;
    border: 3.5px solid white;
    padding: 0.5rem;
}

.botonMap:hover {
    border: 3.5px solid goldenrod;
    color: dimgray;
}

.borderBoton {
    border: 3.5px solid goldenrod;
}

/* width escritorio */
@media (min-width: 992px){

    html, body {
        height: 100%;
        margin: 0px;
    }

    label {
        font-size: 1.2rem;
    }

    #labelBotonesMapa {
        text-decoration: underline;
    }

    #divDispositivos {
        margin-right: 10rem;
    }

    .form-group {
        margin-bottom: 6.5rem;
    }

    #form {
        height: 80%;
    }

    .row {
        height: 100%;
    }

    .inputsFormulario{
        display: flex;
        flex-direction: column;
        padding-top: 5rem;
    }

    .botonMap {
        padding : 1.5rem;
    }

    #labelBotonesMapa {
        margin-bottom: 3rem;
    }
    #map {
        height: 75%;
    }
}
