body {
  margin: 0;
  font-family: Helvetica, sans-serif;
  background-color: #253016;
  display: flex;
  flex-direction: column;
}
.mycontenedor{
  box-sizing: border-box;
  width: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  padding-top: 50px;    
}
a {
  color: #000;
}

.landingpage{
background: url("../images/negro.jpg") no-repeat center top;
color: #fff;
background-size: cover;
height: 90vh;
}
.imagen-sensor{
  height: 100%;
  width: 100%;
}
.text-center{
        padding-top: 350px;
    }

.elementos-lista{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.texto-de-lista-Salinidad{
  margin-top: 40px;
  margin-left: 10px;
}

.texto-de-lista-temperatura{
  margin-top: 60px;
  margin-left: 20px;
  margin-right: 30px;
}
.texto-de-lista-humedad{
  margin-top: 60px;
  margin-left: 48px;
}
.texto-de-lista-luminosodad{
  margin-top: 40px;
  margin-left: 27px;
  margin-right: 40px;
}
.btn-landigpage{
  list-style: none;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 0px;
}
.conocenos-landingpage{
  background-color: #253016;
  background-size: cover;
  text-align:center;
  color: #EED595;
  height: 670px;
}
.conocenos-2-landingpage{
  background-color: #253016;
  background-size: cover;
  text-align:center;
  color: #EED595;
  height: 400px;

}
.contacto-landingpage{
  background-color: #EED595;
  background-size: cover;
  text-align:center;
  color: #253016;
  height: 660px;
}
.button {
  background-color: #4B7902; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 6px;
}
.flecha-conocenos{
  width: 30px;
  height: 20px;
  margin-top: 20px;
}
.buttonLlamarAhora {
  margin-top: 20px;
  background-color:#EED595 ; 
  border-color:#253016 ;
  color: #253016;
  padding: 15px 44px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 6px;
}
.buttonEmail {
  margin-top: 20px;
  background-color:#EED595 ; 
  border-color:#253016 ;
  color: #253016;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 6px;
}
.buttonUbicacion{
  margin-top: 20px;
  background-color:#EED595 ; 
  border-color:#253016 ;
  color: #253016;
  padding: 15px 43px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 6px;
}
.contenedor-login{
    margin-top: 35px;
    position: relative;
    float: right;
}
.flecha-mas-informacion {
  padding: 15px 32px;
  text-align: end;
  display: inline-block;
}
.conocenos-encabezado{
  margin-top: 40px;
  margin-left: 10%;
  margin-right: 10%;
}
.lista-1{
  margin-left: 50px;
  display: inline-block; 
  list-style: none;

}
#margen{
  margin-left: 28%;
}
.lista-2{
  display: inline-block; 
  list-style: none;
}
#iconSensorSalinidad{
  margin-top: 40px;
  width: 134px;
  height: 59px;
}
#iconSensorTemperatura{
  margin-top: 46px;
  width: 78px;
  height: 67px;
}
#iconSensorHumedad{
  margin-top: 50px;
  width: 59px;
  height: 59px;
  margin-left: 40px;
}
#iconSensoLuminosidad{
  margin-top: 66px;
  width: 50px;
  height: 46px;
}
.conocenos-info{
  margin-top: 70px;
  margin-left: 10%;
  margin-right: 10%;
}
.contacto-info{
  margin-top: 60px;
  margin-left: 6%;
  margin-right: 6%;
}
.lista-contacto{
  flex-wrap: wrap;
  margin-top: -20px;
  list-style: none;
  display: flex;
  align-items: center;
  padding: 1rem;
  margin: 0 auto;
  flex-direction: column;
}
#iconTelefono{
  width: 80x;
  height: 40px;
}
#iconEmail{
  width: 90px;
  height: 50px;
}
#iconUbicacion{
  width: 50px;
  height: 50px;
}
.footer{
  text-align: center;
  display: flex;
  align-content: center;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
  color: #EED595;
  background-color: #253016;
}

/* header */

.header {
  background-color: #EED595;
  box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
  position: relative;
  width: 100%;
  z-index: 3;
}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: #EED595;
}

.header li a {
  display: block;
  padding: 20px 20px;
  border-right: 1px solid #EED595;
  text-decoration: none;
}


header li #color-login-btn:hover{
     background-color: #253016;
        color: #EED595;
}
.header li a:hover{
     background-color: #253016;
        color: #EED595;
}
.header .logo {
  display: block;
  float: left;
  font-size: 2em;
  padding: 10px 20px;
  text-decoration: none;
}
.btn-login{
  padding: 28px 9px;
}
/* menu */

.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out;
  text-align: center;
}

/* menu icon */

.header .menu-icon {
  margin-top: 20px;
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 28px 9px;
  position: relative;
  user-select: none;

}

.header .menu-icon .navicon {
  background: #333;
  display: block;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: #333;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 5px;
}

.header .menu-icon .navicon:after {
  top: -5px;
}

/* menu btn */

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: 240px;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}
/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
  width: 100%;
  background-color: #253016;
}
/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
.fondo-botones{
padding-top: 10px;
text-align: center;
background-color:#253016;
height: 30px;
}
/* Position the "next button" to the right */
.next {
right: 0;
border-radius: 3px 0 0 3px;
}
/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
background-color: rgba(0,0,0,0.8);
}
/* Caption text */
.text {
color: #f2f2f2;
font-size: 15px;
padding: 8px 12px;
position: absolute;
bottom: 8px;
width: 100%;
text-align: center;
}
/* Number text (1/3 etc) */
.numbertext {
color: #f2f2f2;
font-size: 12px;
padding: 8px 12px;
position: absolute;
top: 0;
}
/* The dots/bullets/indicators */
.dot {
cursor: pointer;
height: 15px;
width: 15px;
margin: 0 2px;
background-color: #bbb;
border-radius: 50%;
display: inline-block;
transition: background-color 0.6s ease;
}
.active, .dot:hover {
background-color: black;
}
/* Fading animation */
.fade {
-webkit-animation-name: fade;
-webkit-animation-duration: 1.5s;
animation-name: fade;
animation-duration: 1.5s;
}
#texto-escondido{
  display: none;
}
#texto-escondido-movile{
  display: block;
  padding-top: 50px;
}
.contenido-listas{
  margin-left: -90px;
  justify-content: center;
}
.slider{
  margin-top: 80px;

}
.titulo-seccion-slider{
  margin-top: 100px;
}



/* 48em = 768px */

@media (min-width: 48em) {
    
  #texto-escondido{
    display: block;
  }  
  #texto-escondido-movile{
    display: none;
  }
  .text-center{
    padding-top: 200px;
    }
  .header li {
    float: left; 
  }
  .header li a {
    padding: 35px 50px;
  }
  .header .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .header .menu-icon {
    display: none;
  }
  .btn-login{
    display: none;
  }
    .landingpage{
height: 85vh;
}
  .landigpage-content{
    position: relative;
    top:50%;
  }
  .contenido-listas{
    display: flex;
    flex-direction: row;
  }
  .parrafo-ordenador{
    width: 520px;
    height: 526px;
    text-align: left;
    margin-top: 16px;
    margin-right: 100px;
    margin-left: 97px;
    font-size: 1.5vw;
  }
    .conocenos-landingpage{
  height: 777px;
}
  .lista-1{
    margin-left: 5%;
    margin-right: 5%;
    font-size: 1.5vw;  
  }
  .imagen-sensor{
    padding: 30px;
    margin-top: 150px;
    height: 400px;
    width: 600px;
  }
  .contenido-con-carrusel{
    margin-top: -100px;
    display: flex;
    flex-direction: row;
  }
  .contenido-contacto{
    display: flex;
    flex-direction: row;
  }
    .mycontenedor{
        padding-top: 100px;
    }
  .lista-ubicacion{
    margin-bottom: 30px;
  box-sizing: border-box;
  width: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  padding-top: 50px; 
  }
  #iconSensorTemperatura{
    margin-top: 46px;
    width: 78px;
    height: 67px;
    margin-left: 28px;
  }
  #iconSensoLuminosidad{
    margin-top: 40px;
    width: 50px;
    height: 46px;
    margin-left: 45px;
  }
  #texto-salinidad-escritorio{
    margin-top: 40px;
  }
  .texto-luminosidad-escritorio{
    margin-top: 40px;
    margin-left: 50px;
  }
  #texto-humedad-escritorio{
    margin-top: 60px;
  }
  .texto-temperatura-escritorio{
    margin-left: 40px;
    margin-top: 40px;
  }
  .encabezado-conocenos-pc{
    margin-left: 60px;
    margin-right: -90px;
    text-align: left;
  }
  .titulo-seccion-slider{
    margin-bottom: 10px;
  }
  .parrafo-slider{
    text-align: left;
  }
  .slider{
    margin-top: 90px;
    margin-right: 100px;
    margin-bottom: 150px;
  }
  .encabezado-conocenos-pc{
    margin-left: 100px;
  }
  .lista-1{
    display: inline-block; 
    list-style: none;
  }
    .conocenos-info{
  font-size: 1.5vw;
  } 
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
  }
  @keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
  }
  /* On smaller screens, decrease text size */
  @media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
  }